<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript"  src="https://www.googletagmanager.com/gtag/js?id=UA-113465550-1">
</script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113465550-1');
</script>

<title>Aquasplash camp - luxury camps , rafting &amp; adventure sports in Rishikesh</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Aquasplash ,camping,camping ,river rafting, Rishikesh, swiss tents,luxury tents, standard tents, Rappelling, kayaking, Adventure Sports,Hiking,Yoga,Himalayas "/>
<meta name="description" content="Aquasplash camp offers luxury swiss tent stay with camping, rafting, kayaking, zipline, rappelling,rock climbing, cliff jumping, trekking and many other adventure activities in Rishikesh"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/bootstrap.min.js"></script>
<link href="css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
<link rel="stylesheet" href="css/animate.css" 		type="text/css" media="all"/>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet'/>
<!-- <link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'/> -->
</head>
<body>
		<div id="demo-1" class="banner-inner">
		<!--/header-w3l-->
			   <div class="header-w3-agileits" id="home">
			   <div class="w3layouts-top-strip">
			    
			<div class="top-srip-agileinfo">
				<div class="w3ls-social-icons text-left">
					<img class="aqualogo" alt="" src="images/aqualogo2.jpeg"></img> 
					
				</div>
				
				 <div class="agileits-contact-info text-right">
					<ul>

								<li><i class="fa fa-volume-control-phone"
									aria-hidden="true"></i>+91 84378 25168</li>
								<li><i class="fa fa-whatsapp" aria-hidden="true"></i>+91
									75006 16624</li>
								<li><i class="fa fa-facebook" aria-hidden="true"></i> <a
									href="https://www.facebook.com/Aqua-Splash-Camp-Rishikesh-1583489585206115/">Like
										us on facebook</a></li>
								<li><i class="fa fa-google" aria-hidden="true"></i> <a
									href="https://search.google.com/local/writereview?placeid=ChIJQ8BUQzUSCTkRChkst14h1hI">Rate on google</a></li>	
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a class="mail"
								href="mailto:aquasplash.rafters@gmail.com">aquasplash.rafters@gmail.com</a>
								</li>
							</ul>
				</div> 
				<div class="clearfix"></div>
			</div>
		</div>
			     <div class="inner-header-agile">	
								<nav class="navbar navbar-default">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
										
									</div>
									<!-- navbar-header -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
											    <li><a href="#" th:href="@{/aqua}" title="home">Home</a></li>
											    <li class="active"><a href="#" th:href="@{/activities}" title="activities">Activities</a></li>
												<li><a href="#" title="packages" th:href="@{/pack}" >Packages</a></li>
												<li><a href="#" title="gallery" th:href="@{/gallery}" >Gallery</a></li>
												<li class="dropdown">
													<a href="#" th:href="@{/about}" class="dropdown-toggle hvr-bounce-to-bottom" data-hover="Pages" data-toggle="dropdown" aria-expanded="false">About <b class="caret"></b></a>
													 <ul class="dropdown-menu">
														<li><a th:href="@{/about}" href="#" title="about">About Us</a></li>
													    <li ><a href="#" th:href="@{/contact}" title="contact">Contact Us</a></li>
													</ul>
												</li>
										</ul>
				           
									</div>
									<div class="clearfix"> </div>	
								</nav>
							</div> 
		</div>
		 </div>
		 <div class="clearfix"></div>
		 <div class="w3_breadcrumb">
	<div class="breadcrumb-inner">	
			<h4>Camping &amp; Activities</h4>
		</div>
	</div>
		 <div class="content">
		 <div class="welcome">
				<div class="container">
						<p class="activity-intro">Whatever you love, whatever you want to experience, whatever you want to master – you can do it all! Aqua Splash offers comprehensive water and land sports along with various camp activity programs, with state-of-the-art equipment. Have the best time with your friends and dare to experience the adventurous activities available at the camp regardless of whether you are a beginner or an expert, our skilled specialists ensure the highest levels of safety. Activities are available regularly throughout the day.</p>
					<div>
					   <div class="row">
						<div class="col-md-4 activity-text  wow slideInLeft">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_rafting.jpeg" alt="" />
									<figcaption>
										<p><span>Rafting</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_rafting.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Rafting</h1>
							<p>Being relatively new sport in India, rafting has marked its spot on the adventure tourism map for decades now! There is nothing like the pure adrenaline rush one gets from riding the foaming white water rapids. At our camp, one can choose among three stretches of rafting between Marine Drive and Rishikesh. Some sections are with fast action white water rapids, others are calmer with opportunities for plenty of bodysurfing and bird watching. Fourth stretch of rafting can be covered during rafting expeditions</p>
						</div>
						<div class="col-md-4 activity-text wow slideInRight">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_kayaking.jpeg" alt="" />
									<figcaption>
										<p> <span>Kayaking</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_kayaking.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Kayaking</h1>
							<p>Another water sport that smacks of ingenuity &amp; individuality is kayaking.This is a one sport requiring a big heart &amp; great love for the water. At camp, we have our own kayaks with trained instructors to guide you while using the equipment and accompany you in case you would like to paddle around some placid stretches of the river around the camp. We also offer kayaking courses where one can learn the basic of kayaking to surf</p>
						</div>
						<div class="col-md-4 activity-text	wow slideInLeft">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_hiking.jpeg" alt="" />
									<figcaption>
										<p><span>A Walk to remember</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_cliffjumping.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Trekking</h1>
							<p>The camp is sourrounded by pristine forest with numerous trails and path that one can wander on foot. There are man villages scattered around within a 1-2 hours walking distance that can be visited and the natural surroundings offer great opportunity to spot some birds and wildlife. There are many caves as well as flowing streams that can be explored in the forest around . Hiking trips can be for a few hours, a full day or even 2-3 days with overnight stays organized in camps with all arrangements for meals,tents and sleeping bags</p>
						</div>
						
						
					  </div>
					  <div class="row">
					  <div class="col-md-4 activity-text wow slideInRight">
					  <div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_cliffjumping.jpeg" alt="" />
									<figcaption>
										<p><span>Cliff Jumping</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_cliffjumping.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Cliff Jumping</h1>
							<p>We have many cliff jumping spots ranging from 5ft to 50ft all along the river side at the camp. Cliff jumping at the camp is with lifejacket to keep you sage and encourage even the non swimmers, and in the presence of a safety kayaker to bring you back to shore. As an activity it is an exhillerating experience as well as a challenge, leading to a great sense of achievement and overcoming fear</p>
						</div>
						<div class="col-md-4 activity-text wow slideInLeft">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_rockclimbing.jpeg" alt="" />
									<figcaption>
										<p><span>Rock Climbing</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_cliffjumping.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Rock Climbing</h1>
							<p>Rock Climbing is a sport in which participants climb up or across natural rock formation or artificial rock walls. Rock climbing is a physically and mentally demanding sport that tests strength, endurance, agility, and balance along mental control and determination</p>
						</div>
						
						<div class="col-md-4 activity-text wow slideInRight">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_rapelling.jpeg" alt="" />
									<figcaption>
										<p><span>Rappelling</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_rapelling.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Rappelling</h1>
							<p>Rappelling is the controlled descent down a rope. Climbers use this technique when a cliff or slope is too steep or dangerous to descend without perfection. Done with the help of carabiners, harness, anchor points and safety ropes.</p>
						</div>
						
					</div>	
					<div class="row">
						
					<div class="col-md-4 activity-text wow slideInLeft">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_zipline.jpeg" alt="" />
									<figcaption>
										<p><span>Zip Line</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_zipline.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">ZipLine</h1>
							<p>To add to your fun and adrenaline rush we have Zip line within our camp. We are the only camp in the area to have Zip line adventure facilty of 150 mtrs within our camp premesis. The thrill of doing Zip line adds to your unique experience while camping in our camp.</p>
						</div>
						<div class="col-md-4 activity-text wow slideInRight">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_archery.jpeg" alt="" />
									<figcaption>
										<p><span>Archery</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_archery.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Archery</h1>
							<p>We have adequate archery equipment in the camp for both kids and adult to try your archery skills .instructors teach campers safety, various bow grips, shooting stances and accuracy. With both junior and senior-sizes compound bows, campers can participate in Bulls Eye challenges and group games.  </p>
						</div>
						<div class="col-md-4 activity-text wow slideInLeft">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_waterfall.jpeg" alt="" />
									<figcaption>
										<p><span>Waterfalls</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_games.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Waterfalls</h1>
							<p>Unique to the camp, hike to the water fall is an activity that truly makes the stay at camp unforgettable. A walk upstream in knee deep flowing water to reach a short 6 feet high waterfall, climbing over it with the help of a rope fighting against the hard current and then wading through to reach a large waterfall is an experience that one will remember for a long time </p>
						</div>
					</div>	
					<div class="row">
					<div class="col-md-4 activity-text wow slideInRight">
						   <div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_bonfire.jpeg" alt="" />
									<figcaption>
										<p><span>Bonfire</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_bonfire.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Bonfire</h1>
							<p>Evening camp fire is a tradition in the camp and we have a dedicated camp fire area to gather in the evening . Complimentary snacks is served at the bonfire and we also offer veg and non-veg barbeque on order.</p>
						</div>
						
						<div class="col-md-4 activity-text wow slideInLeft">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_games.jpeg" alt="" />
									<figcaption>
										<p>Fun<span>Games</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_games.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Fun Games</h1>
							<p>To cater for activity while you are in the camp we have catered for volleyball, Badminton, Carrom board, Dart Games, Chess, Frisbie and obstacle course like Burma Bridge, Sky Walk etc</p>
						</div>
						<div class="col-md-4 activity-text wow slideInRight">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="packages.html" data-lightbox="example-set" data-title="">
									<img src="images/act_shooting.jpeg" alt="" />
									<figcaption>
										<p><span>Shooting</span></p>
									</figcaption>		
								</a>
							</figure>
						   </div>
							<!-- <img src="images/act_shooting.jpeg" class="img-responsive gray" alt=""/> -->
							<h1 class="title">Shooting</h1>
							<p>We have a dedicated firing range to shoot on targets with Air Rifles and Air Pistols to check you shooting skills </p>
						</div>
					</div>		
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			
			<div class="plans-section">
		    <div class="container">
		    <div class="ab-w3l-spa">
				        <h1 class="title">Gear Checklists</h1>
						<p>Nothing's more frustrating and potentially dangerous when you set out for your camping and rafting trip and discover that certain important piece of gear has been forgotten. We' ve put together these checklists to help minimise that</p>
						
				   </div>
		    
		    <div class="priceing-table-main">
		    <div class="col-md-6 wow fadeIn">
		    <div class="price-gd-top pric-clr3">
		    <h4>APPARELS</h4>
		    <ul style="list-style-type:none">
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Hats – 2 or more, brimmed ones that shade the face, ears, neck.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Sunglasses – polarised glasses would be best. Eyeglass straps, if you wear them it's needed while negotiating the rapids</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Prescription glasses, best to have a second pair if you really need them – same w/ contacts</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>T Shirts – 2-3 long sleeve, 2-3 short sleeve. Look for ones w/ Sun Protection Factor (SPF or UPF rating), the weave blocks out UV rays. NRS HydroSilk is an example. Synthetic fabrics dry quickly, cotton more slowly.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Shorts/swimwear – 2-3 pair – pockets are nice</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Long pants/lower – 2-3 pair – to shield from the sun and if we get wet, chilly weather. Again, SPF is good</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Wise to bring warm clothing, it will get chilly at night, early morning</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>A pair or two of river sandals/shoes, some synthetic socks</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>A set of raingear – jacket and pants or river splash wear. Does double duty as a windbreaker, warmup in the morning</li>
							
							
							
			</ul>
		    </div>
		    </div>
		    
		    <div class="col-md-6 wow fadeIn">
		    <div class="price-gd-top pric-clr3">
		    <h4>CAMPING GEAR</h4>
		    <ul style="list-style-type:none">
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Sleeping bag, though in camp we will provide you with blankets and quilt.For overnight expeditions, we provide. However you can carry one , its always handy</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Flashlight/torch is a must, with  spare battery. It will be very handy</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Spare Batteries for anything that takes batteries, like camera ,mobile. Specially required as there will be no battery back up when we launch for expedition</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>If you are carrying a camera then carry additional memory stick as we are sure you will need lots of spare memory space</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>A good pocket or sheath knife, you’ll use it for a lot of things</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Couple of water bottles – need to drink a lot of water to prevent dehydration</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Towel &amp; washcloth.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Couple of light gloves</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Personal toiletries</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Medicines especially prescribed to you</li>
							<!-- <li class="commandment-section"><i class="fa fa-hand-o-right"></i>Thou shalt not worry. He that worrieth hath no pleasure.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Thou shalt not make thyself obviously a tourist. When on a river, do somewhat as the old river-rats do.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Remember that thou art a guest on the river. He that treateth his host with respect shalt be treated as an honored guest.</li> -->
							
							
			</ul>
		    </div>
		    </div>
		    
		    </div>
		    </div>
		    </div>
		    
		    <div class="plans-section">
		    <div class="container">
		    <div class="priceing-table-main">
		    <div class="col-md-12 ">
		    <div class="price-gd-top pric-clr1 wow fadeIn">
		    <h4>Ten Commandments of River Rafting</h4>
		    <ul style="list-style-type:none">
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Thou shalt not expect to find things as thou hast at home, for thou has left home to find things different.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Thou shalt not take anything too seriously, for a carefree mind is the beginning of a vacation.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i> Thou shalt not let other rafters get on thy nerves, for thou art paying good money to have a good time.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i> Remember thy life-jacket, for a man without his life-jacket is a man in trouble.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Blessed is the man who says "Thank You" to the guides, for he shall received more food than he can eat.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Blessed is the man who can hold onto lines in white water, for he shall not be derafted.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Thou shalt not judge the lifestyle of the guides, for thou dost not live with winter from Nov to Feb.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Thou shalt not worry. He that worrieth hath no pleasure.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Thou shalt not make thyself obviously a tourist. When on a river, do somewhat as the old river-rats do.</li>
							<li class="commandment-section"><i class="fa fa-hand-o-right"></i>Remember that thou art a guest on the river. He that treateth his host with respect shalt be treated as an honored guest.</li>
							
							
			</ul>
		    </div>
		    </div>
		    </div>
		    </div>
		    </div>
		    <div class="plans-section">
		    <div class="container">
		    <div class="ab-w3l-spa">
				        <h1 class="title">DO's and DONT’S</h1>
						<p>Rishikesh serves as the gateway to the Garhwal Himalayas. Enjoying a camping trip amidst the nature-rich environs of Rishikesh happens to be an extremely rejuvenating experience. During your camping adventure, you get to spend time in the midst of pine and deodar forests, gurgling brooks, sprawling meadows and fresh air. Given below are some dos and don'ts that need to keep in mind while enjoying your camping adventure in Rishikesh.</p>
						<!-- <p>Aqua Splash camp is a luxury camp located at Mala Kunthi near Marine Drive - approximately 26kms from Rishikesh City on the Rishikesh-BadriNath Highway, surrounded by serene beauty of the lush green hills. Our Highly qualified and trained Rafting guides leave no stone unturned to provide you with the best of rafting adventure besides numerous other adventure activities while you have the most memorable and comfortable stay in twin/three persons sharing basis in the swiss luxury tents provided in our camp. We also take care of your tastes and provide you with the best of lip smacking meals which you shall remember for your life time. We have packages to suite your budget and time available for your stay at the camp. We alos cutomise your packages depending upon the days available for your vacation to suit your needs and budget 
						</p> -->
				   </div>
		    <div class="priceing-table-main">
		    <div class="col-md-6 ">
		    <div class="price-gd-top pric-clr3 wow fadeIn">
						<h4>DO's Of Camping</h4>
						<ul style="list-style-type:none">
							<li class="commandment-section"><i class="fa fa-check"> </i>Do make sure you get back to the campsite before dark</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do go hiking accompanied by at least one person. Make your co-travellers informed</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do remember to carry a geographical map of the region you are camping in</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do bring with you insect repellents</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do dress yourself in layers so that you may take off or take on to adjust with the temperature</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do carry with you sunscreen, good flashlight, additional batteries, extra bags etc..</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do try to leave the least carbon footprints</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do plan your food menu in advance, so that there is no hassle about what to cater specially when out in wilderness</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do pack out things like matches, toilet paper and cigarette butts before you leave the place</li>
							<li class="commandment-section"><i class="fa fa-check"> </i>Do use a checklist so that you do not miss out on some essentials you will regret later</li>
						</ul>
						</div>
		    </div>
		    <div class="col-md-6 ">
		    <div class="price-gd-top pric-clr4 wow fadeIn">
							<h4>DONT's Of Camping</h4>
							<ul style="list-style-type:none">
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't enter the river without life jacket.</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't ignore the directions given by the guide</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't jump into the river from the raft unless guides allows you</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't try to feed or harass the wildlife</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't wear loose clothes while rafting</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't try to enter a private property</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>No Alcohol before rafting </li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Try not to wear cotton clothes.They take time to dry</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't throw litter in the camp area or on the beaches. Carry proper disposable bags for empty packets and cans</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't forget to say thanks and buy a drink to the person who pulls you up the raft in case you flip</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't wear any jewellery or costly item while on the raft</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Don't remove life jacket through out the rafitng journey</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Do not panic in case you slip from the raft .Our guides will pull you back</li>
							<li class="commandment-section"><i class="fa fa-times"> </i>Do not forget to refer us</li>
						</ul>
							
						</div>
		    </div>
		    </div>
		    
		    </div>
		 </div>
			</div>
		<div class="w3l-footer">
		<div class="container">
         <div class="footer-info-agile">
				<div class="col-md-2 footer-info-grid links">
					<h4>Quick links</h4>
					<ul>
						<li><a href="#" title="home" th:href="@{/aqua}">Home</a></li>
						<li><a href="#" title="about us" th:href="@{/about}">About </a></li>
						<li><a href="#" title="actvities in camp" th:href="@{/activities}">Activities</a></li>
						<li><a href="#" title="gallery" th:href="@{/gallery}">Gallery</a></li>
						<li><a href="#" title="contact us" th:href="@{/contact}">Contact</a></li>
						<li><a href="#" title="packages" th:href="@{/pack}">Packages</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-info-grid address">
					<h4>Address</h4>
					<address>
						<ul>
							<li>Aqua Splash Camp</li>
							<li>Marine Drive</li>
							<li>Rishikesh , Uttarakhand</li>
							<li>Telephone : +91 7500616624</li>
							<li>Telephone : +91 8473825168</li>
							<li>Telephone : +91 9759617017</li>
							<li>Email : <a class="mail" href="mailto:aquasplash.rafters@gmail.com">aquasplash.rafters@gmail.com</a></li>
						</ul>
					</address>
				</div>
				<div class="col-md-3 footer-grid">
				   <h4>Instagram</h4>
					<div class="footer-grid-instagram">
					<a href="#"><img src="images/f1.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="footer-grid-instagram">
					<a href="#"><img src="images/f2.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="footer-grid-instagram">
						<a href="#"><img src="images/f3.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="footer-grid-instagram">
					<a href="#"><img src="images/f4.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 footer-info-grid">
				<div class="connect-social">
					<h4>Connect with us</h4>
					<section class="social">
                       <ul>
								<li><a class="icon fb" href="https://www.facebook.com/Aqua-Splash-Camp-Rishikesh-1583489585206115/"><i
										class="fa fa-facebook"></i></a></li>
								<li><a class="icon tw" href="#"><i
										class="fa fa-twitter"></i></a></li>


								<li><a class="icon pin" href="#"><i
										class="fa fa-pinterest"></i></a></li>
								<li><a class="icon db" href="#"><i
										class="fa fa-dribbble"></i></a></li>
								<li><a class="icon gp" href="https://plus.google.com/104731573211452391840"><i
										class="fa fa-google-plus"></i></a></li>
							</ul>
					</section>

				</div>
					

					
				</div>
				<div class="clearfix"></div>
			</div>
	   </div>
     </div>

		
			<div class="w3agile_footer_copy">
				   <p>© Aquasplash Camping &amp; Rafting. All rights reserved | Powered by Deew Labs</p>
			</div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--footer-->


<script src="js/wow.min.js"></script>
				<script>
					new WOW().init();
				</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
</body>
</html>
