<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript"
	src="https://www.googletagmanager.com/gtag/js?id=UA-113465550-1">
	
</script>
<script type="text/javascript">
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-113465550-1');
</script>
<title>Aquasplash luxury camping  rafting in Rishikesh</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Aquasplash,camp ,camping, rafting, Rishikesh,  tents, luxury tents, standard tents, Rappelling, kayaking, Adventure,Hiking,Yoga,Himalayas " />
<meta name="description"
	content="Aquasplash camp is situated in foothils of Himalayas at Rishikesh and we are the best rafting providers in Rishikesh. We offer camping and rafting  with luxury stay swiss tent . Our camp has many indoor and outdoor activities including rafting, kayaking, zipline, rappelling,rock climbing, cliff jumping, trekking." />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="screen" property="" />
<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link href="css/font-awesome.css" rel="stylesheet" />
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="screen" property="" />
<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="css/font-awesome.css" rel="stylesheet" />
<!--/web-fonts-->
<link href='https://fonts.googleapis.com/css?family=Bitter'
	rel='stylesheet' />
</head>

<body>
	<div id="demo-1"
		data-zs-src='[&quot;images/cover2.jpg&quot;,&quot;images/packw.jpg&quot;,&quot;images/co2.jpg&quot;,&quot;images/co1.jpg&quot;,&quot;images/co.jpeg&quot;]'
		data-zs-overlay="dots">
		<div class="demo-inner-content">
			<!--/header-w3l-->
			<div class="header-w3-agileits" id="home">
				<div class="w3layouts-top-strip">

					<div class="top-srip-agileinfo">
						<div class="w3ls-social-icons text-left">
							<img alt="Logo" src="images/aqualogo2.jpeg"></img>

						</div>

						<div class="agileits-contact-info text-right">
							<ul>

								<li><i class="fa fa-volume-control-phone"
									aria-hidden="true"></i>+91 84378 25168</li>
								<li><i class="fa fa-whatsapp" aria-hidden="true"></i>+91
									75006 16624</li>
								<li><i class="fa fa-facebook" aria-hidden="true"></i> <a
									href="https://www.facebook.com/Aqua-Splash-Camp-Rishikesh-1583489585206115/">Like
										us on facebook</a></li>
								<li><i class="fa fa-google" aria-hidden="true"></i> <a
									href="https://search.google.com/local/writereview?placeid=ChIJQ8BUQzUSCTkRChkst14h1hI">Rate on google</a></li>	
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a class="mail"
								href="mailto:aquasplash.rafters@gmail.com">aquasplash.rafters@gmail.com</a>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="inner-header-agile">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>

						</div>
						<!-- navbar-header -->
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#" th:href="@{/aqua}"
									title="home">Home</a></li>
								<li><a href="#" th:href="@{/activities}" title="activities">Activities</a></li>
								<li><a href="#" title="packages" th:href="@{/pack}">Packages</a></li>
								<li><a href="#" title="gallery" th:href="@{/gallery}">Gallery</a></li>
								<li class="dropdown"><a href="#" th:href="@{/about}"
									class="dropdown-toggle hvr-bounce-to-bottom" data-hover="Pages"
									data-toggle="dropdown" aria-expanded="false">About <b
										class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a th:href="@{/about}" href="#" title="about">About
												Us</a></li>
										<li><a href="#" th:href="@{/contact}" title="contact">Contact
												Us</a></li>
									</ul></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</nav>

				</div>


				<!--//header-w3l-->
				<!--/banner-info-->
				<div class="baner-info ">
					<h1>
						<span class="wow slideInRight">CAMPING AND RAFTING</span>
					</h1>
					<h4>Discover Himalayas like never before Book Your Dream
						Camping &amp; Rafting Destination</h4>
					<p>Are you exhausted and looking for quirky weekend getaway
						options? Are you up for daring adventure sports?</p>
					<p>You are just a click away!</p>
					<p>Aquasplash camp is your perfect getaway choice to cherish
						forever.</p>
					<p>Scroll down to explore more</p>
				</div>
			</div>



		</div>
	</div>

	<div class="special featured">

		<div class="ab-w3l-spa">
			<h1 class="title">Welcome to Aquasplash Camp</h1>

			<p>Here at Aquasplash camp, we offer holiday packages par
				excellence at very promising rates. We are located near the Marine
				drive-rafting starting point in Rishikesh which makes it a lot
				easier to explore your surfing skills. We have professionally
				trained guides to enhance your white water rafting experience with
				us. Aquasplash is a one stop destination for all your adventure
				quests from Rafting ,Rappelling and Rock climbing to Kayaking and
				Hiking. We are surrounded by lush green teak forests and
				breathtaking views of the great Himalayan Mountains that provide an
				intimate connect with nature. We also offer Yoga and Meditation
				classes to relax yourself and rewind your routine.</p>


			<p>Searching for the whereabouts already? Rishikesh, a city full
				of temples and centres for spiritual studies, now gets another
				identity with Aquasplash.</p>
				<!-- <div class="agileinf-button"><a class="read" href="#" th:href="@{/about}" title="about">
											Read More
							   </a>
							   </div> -->
		</div>
		<!-- services -->
		<div class="w3_agileits_services_grids ">
			<div
				class="col-md-3 w3_agileits_services_grid hvr-overline-from-center wow slideInLeft">
				<div class="w3_agileits_services_grid_agile">
					<div class="w3_agileits_services_grid_1">
						<img src="images/main_camp.jpeg" alt="service-img" />
					</div>
					<h3>Camping</h3>
					<p>Enjoy your camp stay in luxury Swiss tents surrounded by
						mystical green forest at the foothill of Himalayas. Nothing beats
						the experience of gazing stars under clear sky with your friends,
						family and loved ones where the streams are gushing and birds are
						singing melodiously. Aquasplash camp offers the stay in
						Twin/Triple sharing basis.</p>
					<!-- <p>Aquasplash offers Twin/Three sharing basis stay in luxury Swiss Tents.Enjoy the night in our swiss tents surrounded by lush green forest.Nothing can be better than gazing stars under clear sky with your friends , family and loved ones where the voice of gushing stream  and birds sing melodiously for you</p> -->
				</div>
			</div>
			<div
				class="col-md-3 w3_agileits_services_grid hvr-overline-from-center wow slideInRight">
				<div class="w3_agileits_services_grid_agile">
					<div class="w3_agileits_services_grid_1">
						<img src="images/main_rafting.jpeg" alt="service-img" />
					</div>
					<h3>Rafting</h3>
					<p>Rafting is one of popular adventure sports in Rishikesh
						which allures thousands of tourists from all over the world and
						Aquasplash Camp is the perfect place for adventure enthusiasts. We
						at Aquasplash camp offer various rafting packages to give you the
						thrilling opportunity to raft down the wild water rapids of River
						Ganga.</p>
					<!-- <p>Aquasplash Camp is the perfect place where rafting enthusiasts can test and hone on their skills while feeling the adrenaline rush erupting within themselves. Rafting is a water sport which allures thousands of tourists offering  a thrilling opportunity to raft down the River Ganga</p> -->
					<!-- <p>Only few rivers in the world have the mystique of the Ganges, the living mother Goddess of the India. Rafting on its water of wisdom is certainly an unusual experience. Enjoy and explore the life time experience on a date with mother Ganges. Your first encounter will be the beginning of the addiction.</p> -->
				</div>


			</div>
			<div
				class="col-md-3 w3_agileits_services_grid hvr-overline-from-center wow slideInLeft">
				<div class="w3_agileits_services_grid_agile">
					<div class="w3_agileits_services_grid_1">
						<img src="images/main_food.jpeg" />
					</div>
					<h3>Lip Smacking Meals</h3>
					<p>Amidst the galvanizing environments of camp, our well
						trained chef along with kitchen staffs are committed to provide
						you scrumptious and nutritious delicacies to make your dining
						experience simply wonderful.All the meals are served hot and laid
						as buffet in central dining hall with beautiful ambience.</p>
					<!-- <p>Amid the galvanizing environs of camp our well trained chef along with kitchen staff work hard to provide you lip-smacking nutritious delicacies to make your dining experience simply wonderful. All the meals are served hot and laid as buffet in central dining hall. Our chefs do the best to treat you</p> -->
				</div>
			</div>
			<div
				class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
				<div class="w3_agileits_services_grid_agile">
					<div class="w3_agileits_services_grid_1">
						<img src="images/rishikesh-yoga.jpeg" alt="service-img" />
					</div>
					<h3>Yoga &amp; Meditation</h3>
					<p>
						Yoga integrates the practices of postures, breathing techniques,
						lifestyle choices and mental exercises to bring the mind under
						control and enable living the life of peace and happiness. Our
						yoga facility is the heaven for those who seek a natural and
						peaceful environment to evolve in body, mind and spirit<br></br>.
					</p>
					<!-- <p> Yoga integrates the practices of postures, breathing techniques, lifestyle choices, and mental exercises to bring the mind under control and enable a life of peace and happiness. Our resort and yoga facility offers a natural heaven for those who seek an environment in which to evolve in body, mind and spirit
										</p> -->
				</div>
			</div>
			<!-- <div class="price-selet pric-sclr1">
				<a href="#" th:href="@{/contact}" title="contact">Read More</a>
			</div> -->
			
			<div class="clearfix"></div>
		</div>
		<div class="agileinf-button"><a class="read" href="#" th:href="@{/about}" title="about">
											Read More
							   </a>
							   </div>
	</div>

	<div class="container">

		<div class="plans-section">
			<div class="container">
				<h3 class="w3l-inner-h-title">Adventure Activities in Aquasplash camp</h3>
				<div class="priceing-table-main">
					<div class="col-md-3 price-grid">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr1">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<!-- span>Rafting</span> -->
								<h3>
									<span>Rafting</span>
								</h3>
								<!-- <h5>1 Night</h5> -->
							</div>
							<div class="price-gd-bottom">
								<div class="price-list">

									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>
								</div>
								<div class="price-selet pric-sclr1">
									<a href="#" th:href="@{/activities}">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 price-grid ">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr2">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<h3>
									<span>Kayaking</span>
								</h3>
							</div>
							<div class="price-gd-bottom">
								<div class="price-list">

									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed two">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>

								</div>
								<div class="price-selet pric-sclr2">
									<a href="#" th:href="@{/activities}">Read More</a>

								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 price-grid lost">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr4">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<h3>
									<span>camping</span>
								</h3>
								<!-- <h5>Per Person</h5> -->
							</div>
							<div class="price-gd-bottom">
								<div class="price-list">
									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed four">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>
								</div>
								<div class="price-selet pric-sclr4">
									<a href="#" th:href="@{/activities}">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 price-grid lost">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr3">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<h3>
									<span>Trekking</span>
								</h3>

							</div>
							<div class="price-gd-bottom">
								<div class="price-list">
									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed three">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>
								</div>
								<div class="price-selet pric-sclr3">
									<a href="#" th:href="@{/activities}">Read More</a>
								</div>
							</div>
						</div>
					</div>



					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="plans-section">
			<div class="container">

				<div class="priceing-table-main">
					<div class="col-md-3 price-grid">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr4">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<!-- span>Rafting</span> -->
								<h3>
									<span>Cliff Jumping</span>
								</h3>
								<!-- <h5>1 Night</h5> -->
							</div>
							<div class="price-gd-bottom">
								<div class="price-list">

									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed four">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>
								</div>
								<div class="price-selet pric-sclr4">
									<a href="#" th:href="@{/activities}">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 price-grid ">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr1">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<h3>
									<span>Rock Climbing</span>
								</h3>
							</div>
							<div class="price-gd-bottom">
								<div class="price-list">

									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed one">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>

								</div>
								<div class="price-selet pric-sclr1">
									<a href="#" th:href="@{/activities}">Read More</a>

								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 price-grid lost">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr3">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<h3>
									<span>Zipline</span>
								</h3>
								<!-- <h5>Per Person</h5> -->
							</div>
							<div class="price-gd-bottom">
								<div class="price-list">
									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed three">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>
								</div>
								<div class="price-selet pric-sclr3">
									<a href="#" th:href="@{/activities}">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 price-grid lost">
						<div class="price-block agile">
							<div class="price-gd-top pric-clr2">
								<h4>
									<i class="fa fa-star" aria-hidden="true"></i>
								</h4>
								<h3>
									<span>Archery</span>
								</h3>

							</div>
							<div class="price-gd-bottom">
								<div class="price-list">
									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>

									</ul>
									<h6 class="bed two">
										<i class="fa fa-bed" aria-hidden="true"></i>
									</h6>
								</div>
								<div class="price-selet pric-sclr2">
									<a href="#" th:href="@{/activities}">Read More</a>
								</div>
							</div>
						</div>
					</div>



					<div class="clearfix"></div>
				</div>
			</div>
		</div>




		<!-- //welcome -->
	</div>

	<!-- about-bottom -->
	<div class="about-bottom">


		<div class="col-md-6 w3l_about_bottom_left">
			<div class="video-grid-single-page-agileits">
				<div data-video="sjmE6KdtQ4c" id="video">
					<img src="images/aqua_watch.jpeg" alt="" class="img-responsive" />
				</div>
			</div>

			<div class="w3l_about_bottom_left_video">
				<h4>watch our video</h4>
			</div>
		</div>
		<div class="col-md-6 w3l_about_bottom_right one">
			<h1 class="title ">why choose us ?</h1>
			<p>Being the best in all we have many reasons for you to choose
				us. If you are still not convinced ,read below</p>
			<div class="panel-group w3l_panel_group_faq" id="accordion"
				role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title asd">
							<a class="pa_italic" role="button" data-toggle="collapse"
								data-parent="#accordion" href="#collapseOne"
								aria-expanded="true" aria-controls="collapseOne"> <span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
								class="glyphicon glyphicon-minus" aria-hidden="true"></i>Serene
								Camp Location &amp; Beautiful Ambience
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in"
						role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body panel_text">Our camp is surrounded by
							lush green mountains and beautiful nearby sceneries of nature.</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button"
								data-toggle="collapse" data-parent="#accordion"
								href="#collapseTwo" aria-expanded="false"
								aria-controls="collapseTwo"> <span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
								class="glyphicon glyphicon-minus" aria-hidden="true"></i>Supervision
								of Retired Army Colonel
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body panel_text">Our camp functions under
							the able guidance and stewardship of an experienced Army Colonel
							who served the Indian Army for 33 years having enriched vast
							experience in camping and various adventure activities</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button"
								data-toggle="collapse" data-parent="#accordion"
								href="#collapseThree" aria-expanded="false"
								aria-controls="collapseThree"> <span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
								class="glyphicon glyphicon-minus" aria-hidden="true"></i>The
								best care for our precious visitors
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body panel_text">Our young team
							professionals are very dedicated, dynamic and expert in the field
							who care for you at every step during your stay. We function as
							cohesive team to attain the highest standards amongst all the
							other camps in the region</div>
					</div>

				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button"
								data-toggle="collapse" data-parent="#accordion"
								href="#collapseFour" aria-expanded="false"
								aria-controls="collapseThree"> <span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
								class="glyphicon glyphicon-minus" aria-hidden="true"></i>Adventure
								, Fun , Music and Masti
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body panel_text">Apart from adventure
							activities our camp provides Music and other fun activities to
							make your stay comfortable and memorable</div>
					</div>

				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button"
								data-toggle="collapse" data-parent="#accordion"
								href="#collapseFive" aria-expanded="false"
								aria-controls="collapseFive"> <span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
								class="glyphicon glyphicon-minus" aria-hidden="true"></i>Customised
								Packages
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body panel_text">We have many customised
							packages as per your need . You have to just choose the best that
							suits you and rest is taken care by us.</div>
					</div>

				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="plans-section">
		<div class="container">
			<h3 class="w3l-inner-h-title">Aquasplash Camping  Packages</h3>
			<div class="priceing-table-main">
				<div class="col-md-4 price-grid">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr1">
							<h4>2D/1N</h4>
							<h3>
								<span><i class="fa fa-inr" aria-hidden="true"></i></span>2500
							</h3>
							<h5>Per Person</h5>

						</div>
						<div class="price-gd-bottom">
							<div class="price-list">

								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>

								</ul>
								<h6 class="bed">
									<i class="fa fa-bed" aria-hidden="true"></i>
								</h6>
							</div>
							<div class="price-selet pric-sclr1">
								<a href="pack.html">Read More</a>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-4 price-grid ">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr2">
							<h4>3D/2N</h4>
							<h3>
								<span><i class="fa fa-inr" aria-hidden="true"></i></span>3800
							</h3>
							<h5>Per Person</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">

								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>

								</ul>
								<h6 class="bed two">
									<i class="fa fa-bed" aria-hidden="true"></i>
								</h6>

							</div>
							<div class="price-selet pric-sclr2">
								<a href="#" th:href="@{/pack}">Read More</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 price-grid lost">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr3">
							<h4>4D/4N</h4>
							<h3>
								<span><i class="fa fa-inr" aria-hidden="true"></i></span>10000
							</h3>
							<h5>Per Person</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>

								</ul>
								<h6 class="bed three">
									<i class="fa fa-bed" aria-hidden="true"></i>
								</h6>
								
							</div>
							<div class="price-selet pric-sclr3">
								<a href="#" th:href="@{/pack}">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- testimonials -->
	<div class="guests-agile">
		<h1 class="title">Our Guests</h1>
		<div class="w3_agileits_testimonial_grids">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<p>Excellent location in the midst of a thick forest
									abutting the sacred river ganga . we were total 25 members
									Vsited on Dec 23 and had good time at the camp.</p>
								<img src="images/user1.jpeg" alt=" " class="img-responsive" />

							</div>
						</li>
						<li>
							<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<p>Perfect place to enjoy and have fun</p>
								<img src="images/user2.jpeg" alt=" " class="img-responsive" />

							</div>
						</li>
						<li>
							<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<p>Woow It is great place for camping. Staff is very good
									and freindly</p>
								<img src="images/user3.jpeg" alt=" " class="img-responsive" />

							</div>
						</li>
					</ul>
				</div>
			</section>

			<!-- //flexSlider -->
		</div>
	</div>
	<!-- //testimonials -->

	<!-- Footer -->
	<div class="w3l-footer">
		<div class="container">
			<div class="footer-info-agile">
				<div class="col-md-2 footer-info-grid links">
					<h4>Quick links</h4>
					<ul>
						<li><a href="#" title="home" th:href="@{/aqua}">Home</a></li>
						<li><a href="#" title="about us" th:href="@{/about}">About
						</a></li>
						<li><a href="#" title="actvities in camp"
							th:href="@{/activities}">Activities</a></li>
						<li><a href="#" title="gallery" th:href="@{/gallery}">Gallery</a></li>
						<li><a href="#" title="contact us" th:href="@{/contact}">Contact</a></li>
						<li><a href="#" title="packages" th:href="@{/pack}">Packages</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-info-grid address">
					<h4>Address</h4>
					<address>
						<ul>
							<li>Aquasplash Camp</li>
							<li>Marine Drive</li>
							<li>Rishikesh , Uttarakhand</li>
							<li>Telephone : +91 7500616624</li>
							<li>Telephone : +91 8473825168</li>
							<li>Telephone : +91 9759617017</li>
							<li>Email : <a class="mail"
								href="mailto:aquasplash.rafters@gmail.com">aquasplash.rafters@gmail.com</a></li>
						</ul>
					</address>
				</div>
				<div class="col-md-3 footer-grid">
					<h4>Instagram</h4>
					<div class="footer-grid-instagram">
						<a href="#"><img src="images/f1.jpeg" alt=" "
							class="img-responsive" /></a>
					</div>
					<div class="footer-grid-instagram">
						<a href="#"><img src="images/f2.jpeg" alt=" "
							class="img-responsive" /></a>
					</div>
					<div class="footer-grid-instagram">
						<a href="#"><img src="images/f3.jpeg" alt=" "
							class="img-responsive" /></a>
					</div>
					<div class="footer-grid-instagram">
						<a href="#"><img src="images/f4.jpeg" alt=" "
							class="img-responsive" /></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 footer-info-grid">
					<div class="connect-social">
						<h4>Connect with us</h4>
						<section class="social">
							<ul>
								<li><a class="icon fb" href="https://www.facebook.com/Aqua-Splash-Camp-Rishikesh-1583489585206115/"><i
										class="fa fa-facebook"></i></a></li>
								<li><a class="icon tw" href="#"><i
										class="fa fa-twitter"></i></a></li>


								<li><a class="icon pin" href="#"><i
										class="fa fa-pinterest"></i></a></li>
								<li><a class="icon db" href="#"><i
										class="fa fa-dribbble"></i></a></li>
								<li><a class="icon gp" href="https://plus.google.com/104731573211452391840"><i
										class="fa fa-google-plus"></i></a></li>
							</ul>
						</section>

					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>


	<div class="w3agile_footer_copy">
		<p>© Aquasplash Camping &amp; Rafting. All rights reserved | Powered by Deew Labs</p>
	</div>
	<a href="#home" id="toTop" class="scroll" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script>
		$(document).ready(function() {
			$(".dropdown").hover(function() {
				$('.dropdown-menu', this).stop(true, true).slideDown("fast");
				$(this).toggleClass('open');
			}, function() {
				$('.dropdown-menu', this).stop(true, true).slideUp("fast");
				$(this).toggleClass('open');
			});
		});
	</script>

	<script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
	<!-- search-jQuery -->
	<script src="js/main.js"></script>


	<script src="js/simplePlayer.js"></script>
	<script>
		$("document").ready(function() {
			$("#video").simplePlayer();
		});
	</script>
	<!-- flexSlider -->
	<script src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation : "slide",
				start : function(slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>

	<!-- <link rel="stylesheet" href="css/jquery-ui.css" /> -->
	<script src="js/jquery-ui.js"></script>
	<script>
		$(function() {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3")
					.datepicker();
		});
	</script>
	<!-- //Calendar -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop : $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<!--end-smooth-scrolling-->
	<!--js for bootstrap working-->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
</body>
</html>