<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Detail 1 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/radiusmain.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="amit.html" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview">
				<div class="inner">
					<div class="image fit">
						<img src="images/act_kayaking.jpeg" alt="" />
					</div>
					<div class="latest-news-agile-info">
			<div class="col-md-4 latest-news-agile-right-content">

					<div class="price-block agile">
						<div class="price-gd-top pric-clr1">
							<h4>1 Night 2 Days</h4>
							<h3>
								<span><i class="fa fa-inr" aria-hidden="true"></i></span>2500
							</h3>
							<!-- <h3><span><i class="fa fa-inr" aria-hidden="true"></i></span>1500<span class="small">/ Bed</span></h3> -->
							<h5>Per Person</h5>
						</div>

					</div>
					<div class="w3l-blog-list">
						<h4 class="title">Facilities included</h4>
						<ul>
							<li><a href="#"><i class="fa fa-check"> </i>One Night
									accommodation on twin / triple share in Deluxe Swiss tents </a></li>
							<li><a href="#"><i class="fa fa-check"> </i>All meals -
									Lunch, Evening Snacks around the fire, Dinner on Day 01 and
									breakfast on Day 02</a></li>
							<li><a href="#"><i class="fa fa-check"> </i>Rock
									climbing, Rappelling, Tree Climbing, Kayaking, Body Surfing,
									Cliff jumping, 26km rafting from Marine Drive</a></li>
							<li><a href="#"><i class="fa fa-check"> </i>Self bailing
									rafts, life jacket, helmet and paddles, rescue bag</a></li>
							<li><a href="#"><i class="fa fa-check"> </i>Professional
									rafting guide and Safety Kayaker along with rafting trip</a></li>
							<li><a href="#"><i class="fa fa-check"> </i>No charges
									for children below 5 years and 50% off for children below 12
									years</a></li>
						</ul>
					</div>

					<div class="w3l-blog-list">
						<h4 class="title">What Makes this package special</h4>
						<ul>
							<li><a href="#"><i class="fa fa-star"> </i>16 Kms River
									Rafting</a></li>
							<li><a href="#"><i class="fa fa-star"> </i>Clean Camp </a></li>
							<li><a href="#"><i class="fa fa-star"> </i>Delicious
									Meals</a></li>
							<li><a href="#"><i class="fa fa-star"> </i>Bon Fire</a></li>
							<li><a href="#"><i class="fa fa-star"> </i>Adventure
									activities</a></li>

						</ul>
					</div>
				</div>
				<div class="col-md-8 latest-news-agile-left-content">
					<div class="single video_agile_player">
						<div class="video-grid-single-page-agileits">
							<img src="images/p1.jpeg" alt="" class="img-responsive" />
						</div>
						<h4 class="title">Tour Itenary</h4>
						<h4 class="title">Day 1</h4>
						<p>Reach Rishikesh which is also called as the "Gateway of
							Garhwal Himalayas" and also emerging "Adventure Capital of India"
							. Travel towards Badrinath on Rishikesh-Badrinath Highway for
							approximately 26 kms to reach the camp location which is also
							famously known as Marine Drive last point. It is suitable to
							reach camp by 1600Hrs in the camp . This day you will be welcomed
							by a hot cup of tea or coffee with snacks to make you comfortable
							in the camp. After a crisp briefing regarding the camp our team
							starts working on making your evening memorable. Our chef enjoys
							preparing lovely snacks and food while the others arranges bon
							fire and other indoor games. Sitting besides the bonfire under
							the blanket of stars with the shining moon will give you an
							amazing experience of being close to nature. You will have to
							carry your own drinks. Soft drinks and other beverages can be
							arranged on order on market price. After Bon fire Buffet dinner
							will be served . Undoubtedly you would never forget the
							experience of enjoying your meal sitting next to the bon fire for
							years to come coupled with unique experience of staying in
							comfortable swiss luxury tents catering all your comforts and
							need</p>
						<h4 class="title">Day 2</h4>
						<p>Beautiful morning with the chirping of birds . While you
							enjoy the lovely morning view of the lovely hills looking out of
							your tents we will serve you morning tea with snacks. You can
							take a stroll and enjoy the nature which is amazingly at its best
							. After a sound sleep we are sure you are geared up for the
							thrilling White Water Rafting . Buffet breakfast will be served
							to boost your energy level. After healthy breakfast and ready for
							the fun ahead we take you to the rafting commencing point where
							you will be provided all the safety gears and necessary briefing
							by the guide. On this stretch you will experience some amazing
							Rapids like RETURN TO SENDER , ROLLER COASTER , GOLF COURSE ,
							BODY SURFING and so on. You will also get an opportunity of cliff
							jump enroute before the finish point. After rafting we take you
							back to camp where a delicious lunch is waiting for you. After
							lunch you are free to depart carrying endless memories and a
							promise of coming back again to our camps again</p>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
					<!-- <div class="content">
						<header>
							<h2>Aliquam gravida felis vel velit accumsan</h2>
						</header>
						<h4 class="title">Tour Itenary</h4>
						<h4 class="title">Day 1</h4>
						<p>Reach Rishikesh which is also called as the "Gateway of
							Garhwal Himalayas" and also emerging "Adventure Capital of India"
							. Travel towards Badrinath on Rishikesh-Badrinath Highway for
							approximately 26 kms to reach the camp location which is also
							famously known as Marine Drive last point. It is suitable to
							reach camp by 1600Hrs in the camp . This day you will be welcomed
							by a hot cup of tea or coffee with snacks to make you comfortable
							in the camp. After a crisp briefing regarding the camp our team
							starts working on making your evening memorable. Our chef enjoys
							preparing lovely snacks and food while the others arranges bon
							fire and other indoor games. Sitting besides the bonfire under
							the blanket of stars with the shining moon will give you an
							amazing experience of being close to nature. You will have to
							carry your own drinks. Soft drinks and other beverages can be
							arranged on order on market price. After Bon fire Buffet dinner
							will be served . Undoubtedly you would never forget the
							experience of enjoying your meal sitting next to the bon fire for
							years to come coupled with unique experience of staying in
							comfortable swiss luxury tents catering all your comforts and
							need</p>
						<h4 class="title">Day 2</h4>
						<p>Beautiful morning with the chirping of birds . While you
							enjoy the lovely morning view of the lovely hills looking out of
							your tents we will serve you morning tea with snacks. You can
							take a stroll and enjoy the nature which is amazingly at its best
							. After a sound sleep we are sure you are geared up for the
							thrilling White Water Rafting . Buffet breakfast will be served
							to boost your energy level. After healthy breakfast and ready for
							the fun ahead we take you to the rafting commencing point where
							you will be provided all the safety gears and necessary briefing
							by the guide. On this stretch you will experience some amazing
							Rapids like RETURN TO SENDER , ROLLER COASTER , GOLF COURSE ,
							BODY SURFING and so on. You will also get an opportunity of cliff
							jump enroute before the finish point. After rafting we take you
							back to camp where a delicious lunch is waiting for you. After
							lunch you are free to depart carrying endless memories and a
							promise of coming back again to our camps again</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae, rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae, rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.</p>
					</div> -->
				</div>
				<a href="detail1.html" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="detail2.html" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>Vestibulum hendrerit tortor id gravida</h3>
						<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
					</div>
					<div class="copyright">
						<h3>Follow me</h3>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						</ul>
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>