<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript"  src="https://www.googletagmanager.com/gtag/js?id=UA-113465550-1">
</script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113465550-1');
</script>

<title>Aquasplash Luxury Camping &amp; Rafting in Rishikesh</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Aquasplash Luxury Camping &amp; Rafting in Rishikesh</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Aquasplash,Aquasplash camp ,Camping, Rafting, Rishikesh, swiss tents, luxury tents, standard tents, Rappelling, kayaking, Adventure Sports,Hiking,Yoga,Himalayas "/>
<meta name="description" content="Aquasplash camp offers luxury swiss tent stay with rafting, kayaking, zipline, rappelling,rock climbing, cliff jumping, trekking and many other camping activities in Rishikesh"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" ></link>
<!-- pop-up -->
<link rel="stylesheet" href="css/lightbox.css"/>
<!-- //pop-up -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />

<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="css/font-awesome.css" rel="stylesheet"/> 
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
<!--/web-fonts-->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"/>
<!--//web-fonts-->
</head>
<body>

	
	<div id="demo-1" class="banner-inner">
		<!--/header-w3l-->
		<div class="header-w3-agileits" id="home">
		    <div class="w3layouts-top-strip">
			    
			<div class="top-srip-agileinfo">
				<div class="w3ls-social-icons text-left">
					<img class="aqualogo" alt="" src="images/aqualogo2.jpeg"></img> 
					
				</div>
				
				 <div class="agileits-contact-info text-right">
					<ul>

								<li><i class="fa fa-volume-control-phone"
									aria-hidden="true"></i>+91 84378 25168</li>
								<li><i class="fa fa-whatsapp" aria-hidden="true"></i>+91
									75006 16624</li>
								<li><i class="fa fa-facebook" aria-hidden="true"></i> <a
									href="https://www.facebook.com/Aqua-Splash-Camp-Rishikesh-1583489585206115/">Like
										us on facebook</a></li>
								<li><i class="fa fa-google" aria-hidden="true"></i> <a
									href="https://search.google.com/local/writereview?placeid=ChIJQ8BUQzUSCTkRChkst14h1hI">Rate on google</a></li>	
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a class="mail"
								href="mailto:aquasplash.rafters@gmail.com">aquasplash.rafters@gmail.com</a>
								</li>
							</ul>
				</div> 
				<div class="clearfix"></div>
			</div>
		</div>
			<div class="inner-header-agile">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
											    <li><a href="#" th:href="@{/aqua}" title="home">Home</a></li>
											    <li><a href="#" th:href="@{/activities}" title="activities">Activities</a></li>
												<li><a href="#" title="packages" th:href="@{/pack}" >Packages</a></li>
												<li class="active"><a href="#" title="gallery" th:href="@{/gallery}" >Gallery</a></li>
												<li class="dropdown">
													<a href="#" th:href="@{/about}" class="dropdown-toggle hvr-bounce-to-bottom" data-hover="Pages" data-toggle="dropdown" aria-expanded="false">About <b class="caret"></b></a>
													 <ul class="dropdown-menu">
														<li><a th:href="@{/about}" href="#" title="about">About Us</a></li>
													    <li ><a href="#" th:href="@{/contact}" title="contact">Contact Us</a></li>
													</ul>
												</li>
										</ul>


					</div>
					<div class="clearfix"></div>
				</nav>
			</div>


			<!--//header-w3l-->
		</div>
	</div>
				<div class="w3_content_agilleinfo_inner">
					<div class="container">
					      <div class="inner-agile-w3l-part-head">
					            <h2 class="w3l-inner-h-title">Gallery</h2>
							</div>
				                <div class="gallery-grids">
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag1.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag1.jpeg" alt="" />
									<figcaption>
										<p>Night <span>View</span></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag2.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag2.jpeg" alt="" />
									<figcaption>
										<p>Chilling <span>Evening</span></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag3.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag3.jpeg" alt="" />
									<figcaption>
										<p>Beautiful <span>Flowers</span></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag4.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag4.jpeg" alt="" />
									<figcaption>
										<p>Mist &amp; <span>Drizzle</span></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag5.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag5.jpeg" alt="" />
									<figcaption>
										<p>Cozy<span>Bed</span></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag6.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag6.jpeg" alt="" />
									<figcaption>
										<p>Kayaking &amp;<span>Rafting</span></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag7.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag7.jpeg" alt="" />
									<figcaption>
										<p>Submerged <span>In Water</span></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag8.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag8.jpeg" alt="" />
									<figcaption>
										<p>Free <span>Float</span></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag9.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag9.jpeg" alt="" />
									<figcaption>
									<p>College<span>Group</span></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag10.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag10.jpeg" alt="" />
									<figcaption>
									<p>Aqua<span>Rafters</span></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag11.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag11.jpeg" alt="" />
									<figcaption>
									<p>RiverSide<span> Camps</span></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/ag12.jpeg" data-lightbox="example-set" data-title="">
									<img src="images/ag12.jpeg" alt="" />
									<figcaption>
									<p>Darr Ke Aage<span>Jeet Hain</span></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="clearfix"> </div>
					
			</div>

					</div>
				</div>
			<!--//content-inner-section-->

 <!-- Footer -->
	<div class="w3l-footer">
		<div class="container">
         <div class="footer-info-agile">
				<div class="col-md-2 footer-info-grid links">
					<h4>Quick links</h4>
					<ul>
						<li><a href="#" title="home" th:href="@{/aqua}">Home</a></li>
						<li><a href="#" title="about us" th:href="@{/about}">About </a></li>
						<li><a href="#" title="actvities in camp" th:href="@{/activities}">Activities</a></li>
						<li><a href="#" title="gallery" th:href="@{/gallery}">Gallery</a></li>
						<li><a href="#" title="contact us" th:href="@{/contact}">Contact</a></li>
						<li><a href="#" title="packages" th:href="@{/pack}">Packages</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-info-grid address">
					<h4>Address</h4>
					<address>
						<ul>
							<li>Aqua Splash Camp</li>
							<li>Marine Drive</li>
							<li>Rishikesh , Uttarakhand</li>
							<li>Telephone : +91 7500616624</li>
							<li>Telephone : +91 8473825168</li>
							<li>Telephone : +91 9759617017</li>
							<li>Email : <a class="mail" href="mailto:aquasplash.rafters@gmail.com">aquasplash.rafters@gmail.com</a></li>
						</ul>
					</address>
				</div>
				<div class="col-md-3 footer-grid">
				   <h4>Instagram</h4>
					<div class="footer-grid-instagram">
					<a href="#"><img src="images/f1.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="footer-grid-instagram">
					<a href="#"><img src="images/f2.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="footer-grid-instagram">
						<a href="#"><img src="images/f3.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="footer-grid-instagram">
					<a href="#"><img src="images/f4.jpeg" alt=" " class="img-responsive"/></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 footer-info-grid">
				<div class="connect-social">
					<h4>Connect with us</h4>
					<section class="social">
                        <ul>
								<li><a class="icon fb" href="https://www.facebook.com/Aqua-Splash-Camp-Rishikesh-1583489585206115/"><i
										class="fa fa-facebook"></i></a></li>
								<li><a class="icon tw" href="#"><i
										class="fa fa-twitter"></i></a></li>


								<li><a class="icon pin" href="#"><i
										class="fa fa-pinterest"></i></a></li>
								<li><a class="icon db" href="#"><i
										class="fa fa-dribbble"></i></a></li>
								<li><a class="icon gp" href="https://plus.google.com/104731573211452391840"><i
										class="fa fa-google-plus"></i></a></li>
							</ul>
					</section>

				</div>
					

					
				</div>
				<div class="clearfix"></div>
			</div>

			<!-- <div class="connect-agileits newsletter">
				<h4>Newsletter</h4>
					<p>Subscribe to our newsletter and we will inform you about newest projects and promotions.
					</p>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Your email address..." required="">
						<input type="submit" class="submit" value="Subscribe">
					</form>
			</div> -->
	   </div>
     </div>

		
			<div class="w3agile_footer_copy">
				    <p>© Aquasplash Camping &amp; Rafting. All rights reserved | Powered by Deew Labs</p>
			</div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
		<!-- search-jQuery -->
				<script src="js/main.js"></script>

<!--/script-->
	<script src="js/lightbox-plus-jquery.min.js"> </script>
<!--/script-->
<script type="text/javascript" src="js/move-top.js"></script>
<!-- <script type="text/javascript" src="js/easing.js"></script> -->

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
<!--end-smooth-scrolling-->
<!--js for bootstrap working-->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>