<!DOCTYPE html>
<html>
<head>
<title>Aqua Splash</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- pop-up -->
<link rel="stylesheet" href="css/lightbox.css"/>
<!-- //pop-up -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />

<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="css/font-awesome.css" rel="stylesheet"/> 
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
<!--/web-fonts-->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"/>
<!--//web-fonts-->
</head>
<body>
  <div class="w3layouts-top-strip">
			<div class="top-srip-agileinfo">
				<div class="w3ls-social-icons text-left">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
					
				</div>
				<div class="agileits-contact-info text-right">
					<ul>
						<li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +090 480 088</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">mail@example.com</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
			     <div id="demo-1" data-zs-src='[&quot;images/cover_rafting1.jpg&quot;,&quot;images/cover_rafting2.jpg&quot;,&quot;images/cover_play.jpg&quot;,&quot;images/cover_antique.jpg&quot;,&quot;images/cover_tent.jpeg&quot;]' data-zs-overlay="dots">
		<!-- '[&quot;images/rafting_1.jpg&quot;,&quot;images/rafting_2.jpg&quot;,&quot;images/rishikesh_1.jpg&quot;,&quot;images/rishikesh_2.jpg&quot;]' -->
		<div class="demo-inner-content">
			     <div class="inner-header-agile">	
								<nav class="navbar navbar-default">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
										<h1><a  href="index.html"><span>AQUA</span>Splash <p class="s-log">Live your dreams</p></a>
										 
										</h1>
									</div>
									<!-- navbar-header -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										
				 <ul class="nav navbar-nav">
											<li class="active"><a href="index.html">Home</a></li>
						
												<li><a href="gallery.html">Gallery</a></li>
												<li><a href="#">Packages</a></li>
												 <li class="dropdown">
													<a href="codes.html" class="dropdown-toggle hvr-bounce-to-bottom" data-hover="Pages" data-toggle="dropdown" aria-expanded="false">Pages <b class="caret"></b></a>
													 <ul class="dropdown-menu">
														<li><a href="icons.html">Font Icons</a></li>
													
														<li><a href="codes.html">Short Codes</a></li>
													</ul>
												</li>

												<li><a href="contact.html">Contact</a></li>

											
										</ul>


									</div>
									<div class="clearfix"> </div>	
								</nav>

			
		<!--//header-w3l-->
		</div>

	  <!-- /plans -->
      <div class="plans-section" id="booking">
				 <div class="container">
				 <div class="priceing-table-main">
				 <div class="col-md-3 price-grid">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr1">
							<h4>Package 1</h4>
							<h3><span><i class="fa fa-inr" aria-hidden="true"></i></span>2500</h3>
							<h5>Per Person</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
						   <ul>
								
									<li><img style="margin: 0 0 20px 0;" src="images/rafting.png"></img></li>
									<li><h1 class="bed five"><i class="fa fa-bed" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-cutlery" aria-hidden="true"></i></h1></li>									
									<li><h1 class="bed five"><i class="fa fa-taxi" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-wifi" aria-hidden="true"></i></h1></li>
									
								</ul>
								<p> 2 Days &amp; 2 Night</p>
								<p> River Rafting 16 Kms</p>
								<p> Trekking And Sight Seeing</p>
								<p> Bon fire and music </p>
								</div>
					       <div class="price-selet pric-sclr1">
								<a href="#ab" class="scroll" >Book Now</a>
							</div>
						
						</div>
					</div>
				</div>
					<div class="col-md-3 price-grid">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr2">
							<h4>PACKAGE 2</h4>
							<h3><span><i class="fa fa-inr" aria-hidden="true"></i></span>2800</h3>
							<h5>Per Person</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
								<ul>
								
								
									<li><img style="margin: 0 0 20px 0;" src="images/rafting.png"></img></li>
									<li><h1 class="bed five"><i class="fa fa-bed" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-cutlery" aria-hidden="true"></i></h1></li>									
									<li><h1 class="bed five"><i class="fa fa-taxi" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-wifi" aria-hidden="true"></i></h1></li>
									
								
									
								</ul>
								<p> 2 Days &amp; 2 Night</p>
								<p> River Rafting 24 Kms</p>
								<p> Trekking And Sight Seeing</p>
								<p> Bon fire and music </p>
							</div>
							<div class="price-selet pric-sclr2">
								<a href="#ab" class="scroll" >Book Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 price-grid lost">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr3">
							<h4>Package 3</h4>
							<h3><span><i class="fa fa-inr" aria-hidden="true"></i></span>3800</h3>
							<h5>Per Person</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
								<ul>
								
									<li><img style="margin: 0 0 20px 0;" src="images/rafting.png"></img></li>
									<li><h1 class="bed five"><i class="fa fa-bed" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-cutlery" aria-hidden="true"></i></h1></li>									
									<li><h1 class="bed five"><i class="fa fa-taxi" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-wifi" aria-hidden="true"></i></h1></li>
									
								</ul>
								
								<p> 3 Days &amp; 2 Night</p>
								<p> River Rafting 24 Kms</p>
								<p> Trekking And Sight Seeing</p>
								<p> Bon fire and music </p>
								<p> Rappeling , Rock Climbing</p>
								<p> Jumping Heights Activities *</p>
							</div>
							<div class="price-selet pric-sclr3">
								<a href="#ab" class="scroll" >Book Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr4">
							<h4>Package 4</h4>
							<h3><span><i class="fa fa-inr" aria-hidden="true"></i></span>10000</h3>
							<h5>Per Person</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
								<ul>
								
									<li><img style="margin: 0 0 20px 0;" src="images/rafting.png"></img></li>
									<li><h1 class="bed five"><i class="fa fa-bed" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-cutlery" aria-hidden="true"></i></h1></li>									
									<li><h1 class="bed five"><i class="fa fa-taxi" aria-hidden="true"></i></h1></li>
									<li><h1 class="bed five"><i class="fa fa-wifi" aria-hidden="true"></i></h1></li>
									
								</ul>
								
								<p> 3 Days &amp; 2 Night</p>
								<p> River Rafting 24 Kms</p>
								<p> Trekking And Sight Seeing</p>
								<p> Bon fire and music </p>
								<p> Rappeling , Rock Climbing</p>
								<p> Jumping Heights Activities *</p>
							</div>
							<div class="price-selet pric-sclr4">
								<a href="#ab" class="scroll" >Book Now</a>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
</div>
			<div class="about-bottom" id="ab">
	<div class="col-md-12 w3l_about_bottom_right two"> 
							 <div class="container">
				 <div class="col-md-12 price-grid">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr1">
							<!-- <h4>RIVER RAFTING EXPEDITION</h4>
							<h3><span><i class="fa fa-inr" aria-hidden="true"></i></span>2500</h3>
							<h5>4 Days &amp; 4 Night Per Person</h5> -->
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
						   
								<img class="aqua-map" src="images/cover_rafting1.jpg"/>
								<img class="aqua-map" src="images/exp_1.jpg"/>
								<img class="aqua-map" src="images/cover_rafting2.jpg"/>
								<img class="aqua-map" src="images/gallery_16.jpg"/>
								<img class="aqua-map" src="images/pack_bungy.jpg"/>
								<img class="aqua-map" src="images/pack_ff.jpg"/>
								<img class="aqua-map" src="images/pack_wr.jpg"/>
								<img class="aqua-map" src="images/pack_gs.jpg"/>
								</div>
					       	</div>
					</div>
				</div>
				</div>
			<!-- <div class="book-form">

			   <form action="#" method="post">
					<div class="col-md-6 form-date-w3-agileits">
						<label><i class="fa fa-user" aria-hidden="true"></i> Name :</label>
						<input type="text" name="name" placeholder="Your name" required=""/>
					</div>
					<div class="col-md-6 form-date-w3-agileits second-agile">
						<label><i class="fa fa-envelope" aria-hidden="true"></i> Email :</label>
						<input type="email" name="email" placeholder="Your email" required=""/>
					</div>
					 <div class="col-md-6 form-date-w3-agileits">
									<label><i class="fa fa-calendar" aria-hidden="true"></i> Arrival Date :</label>
									<input  id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required=""/>
								
								</div>
					<div class="col-md-6 form-time-w3layouts second-agile">
							<label><i class="fa fa-clock-o" aria-hidden="true"></i> Time :</label>
							<input type="time"/>
					</div>
					<div class="col-md-6 form-date-w3-agileits">
						        <label><i class="fa fa-calendar" aria-hidden="true"></i> Departure Date :</label>
									<input  id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required=""/>
									
								</div>
					<div class="col-md-6 form-time-w3layouts second-agile">
							<label><i class="fa fa-clock-o" aria-hidden="true"></i> Time :</label>
							<input type="time"/>
					</div>
					<div class="col-md-6 form-left-agileits-w3layouts bottom-w3ls">
							<label><i class="fa fa-home" aria-hidden="true"></i> Choose a Room :</label>
							<select class="form-control">
								<option></option>
								<option>Standard Double Room</option>
								<option>Standard Family Room</option>
								<option>Garden Family Room</option>
								<option>Deluxe Double Room</option>
								<option>Executive Junior Suite</option>
								<option>Maisonette</option>
							</select>
					</div>
					<div class="col-md-6 form-left-agileits-w3layouts second-agile">
							<label><i class="fa fa-users" aria-hidden="true"></i> No.of People :</label>
							<select class="form-control">
								<option></option>
								<option>1 Person</option>
								<option>2 People</option>
								<option>3 People</option>
								<option>4 People</option>
								<option>5 People</option>
								<option>More</option>
							</select>
					</div>
					<div class="clearfix"> </div>
					<div class="make wow shake" data-wow-duration="1s" data-wow-delay=".5s">
						  <input type="submit" value="Make a Reservation"/>
					</div>
			</form>
								</div>
 -->
		</div>
		<!-- <div class="col-md-6 w3l_about_bottom_right two">
		<img src="images/33.jpg" alt="" class="img-responsive" />
			<div class="w3l_about_bottom_left_video book-text">
				<h4>BooK Now</h4>
			</div>
		</div> -->
		
		<div class="clearfix"> </div>
	</div>
	
		
       
<script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
		<!-- search-jQuery -->
				<script src="js/main.js"></script>

<!--/script-->
	<script src="js/lightbox-plus-jquery.min.js"> </script>
<!--/script-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							//$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
					
 <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>

</body>
</html>